@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply antialiased;
	}

	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.card {
		@apply bg-white rounded-2xl shadow-sm border border-border/5 p-6 transition-all duration-200;
	}

	.balance-card {
		@apply card hover:shadow-md;
	}

	.card-success {
		@apply bg-success text-success-foreground;
	}

	.card-primary {
		@apply bg-primary text-primary-foreground;
	}

	.card-secondary {
		@apply bg-secondary text-secondary-foreground;
	}

	.heading-1 {
		@apply font-heading text-3xl font-semibold tracking-tight;
	}

	.heading-2 {
		@apply font-heading text-2xl font-medium tracking-tight;
	}

	.heading-3 {
		@apply font-heading text-xl font-medium tracking-tight;
	}
}

/* Custom NProgress styles */
#nprogress .bar {
	background: #29d !important; /* Blue color like GitHub */
	height: 3px !important; /* Make it slightly thicker */
	z-index: 1031 !important; /* Ensure it&apos;s above most elements */
}

#nprogress .peg {
	box-shadow: 0 0 10px #29d, 0 0 5px #29d !important; /* Matching glow */
}
