@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-card {
	@apply bg-white dark:bg-gray-950;
}

/* Custom NProgress styles */
#nprogress .bar {
	background: #29d !important; /* Blue color like GitHub */
	height: 3px !important; /* Make it slightly thicker */
	z-index: 1031 !important; /* Ensure it&apos;s above most elements */
}

#nprogress .peg {
	box-shadow: 0 0 10px #29d, 0 0 5px #29d !important; /* Matching glow */
}
